* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansX;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #0b0b0b;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
}

.sliders {
  width: 100%;
  padding: 0 15px;
}

.mySwiper {
  width: 100%;
  padding-top: 30px;
}
.mySwiper2 {
  width: 100%;
  height: 200px;
}

.slider-title {
  text-align: center;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-title2 {
  text-align: right;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-title2 img {
  display: block;
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.slider-title img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.title-img {
  font-size: 14px;
  color: #cecece;
  margin-right: 4px;
}

.below-title {
  font-size: 13px;
  color: #7d7d7d;
}

.title-slider {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 14px;
  color: #efeff1;
  font-size: 17px;
}

.eid {
  width: 100%;
}
.eid img {
  width: 100%;
}

.detail {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.title-detail {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

audio {
  width: 80%;
  margin-top: 35px;
}

.detail img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 15px;
}

.detail p {
  width: 80%;
  line-height: 2;
  font-size: 14px !important;
  color: #c0c0c0 !important;
  margin-top: 35px;
  direction: rtl;
}

.btn-slice {
  width: 80%;
  background-color: black;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
}