* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansX;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #0b0b0b;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111;
  margin: 0;
  width: 100vw;
}

.container-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eid {
  width: 100%;
}

.eid img {
  width: 100%;
}

@media (min-width: 700px) {
  .eid {
    display: none;
  }
}

.title-page {
  font-family: moraba;
  font-size: 1.8rem;
  color: #eee;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin: 0px auto 3rem auto;
  width: fit-content;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px #b4a825, 0 0 5px #b4a825, 0 0 10px #b4a825;
  }

  50% {
    text-shadow: 0 0 10px #9b8c02, 0 0 20px #9b8c02, 0 0 25px #9b8c02;
  }

  100% {
    text-shadow: 0 0 5px #b4a825, 0 0 5px #b4a825, 0 0 10px #b4a825;
  }
}


.title-slider {
  color: white;
  width: 100%;
  max-width: 1000px;
  text-align: right;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: yekanBakh4;
  font-size: 23px;
  padding-right: 10px;
  font-weight: 600;
}

swiper-container {
  width: 100%;
  max-width: 1000px;
}

swiper-container.banner {
  width: 100%;
  margin: 15px 10px 0px 0px;
  max-width: 1000px;
}

swiper-slide {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

swiper-slide.banner {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

swiper-slide img {
  width: 100%;
  border-radius: 10px;
}

swiper-slide .title {
  font-size: 13px;
  font-weight: 400;
  color: #cecece;
  line-height: 110%;
  padding: 5px;
}

swiper-slide .sub-title {
  font-size: 12px;
  color: #7d7d7d;
  font-weight: 500;
  padding: 0px 4px;
}


.content-sound {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-sound img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
}

.title-content-sound {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

audio {
  width: 80%;
  margin-top: 35px;
  height: 47px;
}

.content-sound img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 15px;
}

.content-sound p {
  width: 80%;
  line-height: 2;
  font-size: 14px !important;
  color: #c0c0c0 !important;
  margin-top: 35px;
  direction: rtl;
  font-size: 15px;
}

.btn-slice {
  width: 80%;
  background-color: black;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
}